@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}
body{

    margin: 0;
    font-family: 'Source Serif Pro', serif;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container{
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 20px;
    }

    .image-container{
        margin: 10px;
    }
}